/* HEADER */

/* see general.css -> code shared btw different pages*/

/* HERO SECTION */

#hero-section {
    margin-top: 202px; /* En vez de 222 he puesto 202 ya que en el header he añadido 20px de padding bottom */
    height: 650px;
    display: flex;
    justify-content: space-between;
    padding-right: 170px;
    padding-left: 170px;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

#titleHero {
    height: 422px;
    max-width: 530px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#titleHero p {
    max-width: 435px;
}

#imageHero {
    background-image: url('./Assets/Hero/complete-hero-image.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;
    max-width: 570px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#imageHero img {
    width: 100%;
}

#card1-hero {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 190px;
    height: 100%;
}

#card2-hero {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    max-width: 190px;
    height: 100%;
}

/* CLIENTS SECTION */

#client-section {
    margin-top: 40px;
    height: 96px;
    display: flex;
    justify-content: space-between;
    padding-right: 170px;
    padding-left: 170px;
    align-items: center;
}

#client-section img {
    filter: grayscale(100%);
    height: 32px;
}

/* PROJECTS SECTION */

/* see general.css -> code shared btw different pages*/

/* TESTIMONIAL SECTION */

#testimonial-emojis img {
    height: 150px;
}

#testimonial-texts img {
    height: 50px;
}

/* SERVICES SECTION */

#services-section img {
    height: 40px;
}


/* MOBILE RESPONSIVE */

@media (max-width: 620px) {

    /* HERO */

    #hero-section {
        margin-top: 60px;
        padding: 20px;
        flex-direction: column-reverse;
        height: 100%;
    }

    #imageHero {
        height: 360px;
    }

    #titleHero {
        justify-content: space-around;
        height: 320px;
    }
}

/* TABLET RESPONSIVE */

@media (min-width: 620px) and (max-width: 1025px) {

    /* HERO */

    #hero-section {
        margin-top: 100px;
        padding: 40px;
        height: 100%;
    }

    #imageHero {
        height: 360px;
    }

    #titleHero {
        justify-content: space-around;
        height: 320px;
    }
}