/* CONTACT SECTION */

#contact-section {
    height: 830px;
    margin-top: 200px;
    padding-left: 170px;
    padding-right: 170px;
}

#contact-section form {
    height: 660px;
    margin-top: 80px;
    display: grid;

    grid-template-columns: 48% 4% 48%;
    grid-template-areas: 
    'name name name'
    'email - phone'
    'message message message'
    'button button button';
}

#contact-section label {
    color: var(--neutral-medium)
}

#contact-section input, textarea {
    background-color: var(--background-inputs);
    border: none;
    height: 70px;
    max-width: 1100px;
    width: 100%;
    padding: 0;
    margin-top: 10px;
    padding-left: 20px;
    box-sizing: border-box;
}

::placeholder {
    color: var(--neutral-medium);
  }
  

#input-name {
    grid-area: name;
}

#input-email {
    grid-area: email;
}

#input-phone {
    grid-area: phone;
}

#input-message {
    grid-area: message;
}


#contact-section textarea {
    height: 200px;
    font-family: Roboto;
    resize: none;
    padding-top: 22px;
}

#contact-section .primaryButton {
    max-width: 1100px;
    width: 100%;
    grid-area: button;

}