/* DETAIL SECTION */

#detail-section {
    height: 1100px;
    margin-top: 200px;
    padding-left: 170px;
    padding-right: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#subtitle {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#image {
    max-width: 1100px;
    width: 100%;
    max-height: 444px;
    height: 100%;
    background-image: url("/ironhack-midterm-project/Assets/Projects/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

/* PROJECT SECTION ADJUSTMENTS */

#projects-section {
    margin-top: 80px; /* Me invento la medida, me guusta mas */
}

#projects-section div {
    padding-top: 70px;
}

/* MOBILE RESPONSIVE */

@media (max-width: 620px) {

    /* DETAIL */

    #detail-section {
        height: 1150px;
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 100px;
    }

    #image {
        max-height: 244px;
    }
    
}

/* TABLET RESPONSIVE */

@media (max-width: 1025px) {

    /* DETAIL */

    #detail-section {
        padding-left: 70px;
        padding-right: 70px;
        margin-top: 150px;
    }
    
}